<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="MIS333K_msbcd323ConnectionString" connectionString="Data Source=missql.mccombs.utexas.edu;Initial Catalog=MIS333K_msbcd323;Persist Security Info=True;User ID=msbcd323;Password=Shad6666"
            providerName="System.Data.SqlClient" />
        <add name="MIS333K_20142_Team06ConnectionString" connectionString="Data Source=missql.mccombs.utexas.edu;Initial Catalog=MIS333K_20142_Team06;User ID=msbcf678;Password=HP7Jul2!"
            providerName="System.Data.SqlClient" />
        <add name="MIS333K_20142_Team06ConnectionString2" connectionString="Data Source=missql.mccombs.utexas.edu;Initial Catalog=MIS333K_20142_Team06;Persist Security Info=True;User ID=msbcf819;Password=Databasepassword5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <webServices>
        <protocols>
          <add name ="HttpGet"/>
          <add name="HttpPostLocalhost"></add>
        </protocols>
      </webServices>
      <customErrors mode="Off" />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>

