vti_encoding:SR|utf8-nl
vti_author:SR|MCCOMBS\\msbcf678
vti_modifiedby:SR|MCCOMBS\\msbcf678
vti_timelastmodified:TR|18 Mar 2014 21:35:31 -0000
vti_timecreated:TR|18 Mar 2014 21:35:31 -0000
vti_lineageid:SR|{9F92CB52-B17A-4091-8A92-2FEFB2F1A80D}
vti_cacheddtm:TX|18 Mar 2014 21:35:31 -0000
vti_filesize:IR|510
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|
