vti_encoding:SR|utf8-nl
vti_author:SR|MCCOMBS\\msbcf678
vti_modifiedby:SR|MCCOMBS\\msbcf678
vti_timelastmodified:TR|18 Mar 2014 21:36:56 -0000
vti_timecreated:TR|18 Mar 2014 21:36:56 -0000
vti_cacheddtm:TX|18 Mar 2014 21:36:56 -0000
vti_filesize:IR|768
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{1AB96975-6256-4251-9FFF-91AE0DAB311C}
vti_backlinkinfo:VX|Login.aspx CreateCustomerProfile.aspx
